@import url("style.custom.css");

@define-color taskbar_color #000000;

* {
    border: none;
    border-radius: 64px;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    font-family: "Fira Code";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #fff;
}

tooltip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(16, 16, 16, 0.8);
}

#custom-weather,
#custom-launcher,
#custom-gemini,
#custom-tasks,
#custom-screenshot,
#custom-sensors,
#clock,
#battery,
#pulseaudio,
#privacy-item,
#workspaces,
/* #submap, */
#tray,
#backlight {
    background: @taskbar_color;
    opacity: 1;
    padding: 4px 8px;
    margin-left: 8px;
}

#power {
    background: @taskbar_color;
    margin-left: 8px;
}

#power label {
    min-width: 16px;
}

#custom-quit, #custom-lock, #custom-reboot, #custom-power {
    background: none;
    font-size: 16px;
    padding: 2px 4px;
}

#custom-lock {
    padding: 2px 4px 2px 6px;
}

#custom-reboot {
    padding: 2px 2px 2px 4px;
}

#custom-power {
    padding: 2px 2px 2px 6px;
}

/* workspace styling */

#workspaces {
    padding: 0 6px;
    margin-left: 0;
}

#workspaces label {
    font-size: 0;
}

#workspaces button {
    background: #fff;
    margin: 8px 2px;
    min-width: 8px;
    transition: .3s;
    opacity: .75;
}

#workspaces button.empty {
    opacity: .25;
}

#workspaces button:hover {
    opacity: 1;
}

#workspaces button.visible {
    opacity: 1;
    min-width: 32px;
}

#workspaces button.focused {
    background: #0f0;
}

#workspaces button.urgent {
    background: #ff0;
}

#pulseaudio.muted, #pulseaudio.microphone.source-muted, #privacy-item {
    color: #f00;
}

#pulseaudio.source-muted, #pulseaudio.microphone.muted {
    color: #fff;
}

#pulseaudio.microphone.source-muted {
    padding-left: 5px;
}

#privacy-item {
    padding: 4px 6px;
    min-width: 12px;
}

/* center flat */

#custom-gemini,
#custom-tasks,
#clock,
#custom-weather,
#battery,
#backlight,
#pulseaudio,
#pulseaudio.microphone {
    border-radius: 0;
    margin-left: 0;
    padding-right: 0;
}

/* left cap */

#custom-launcher,
#backlight,
#tray {
    border-radius: 64px 0 0 64px;
    padding-right: 0px;
}

/* right cap */

#battery,
#custom-screenshot,
#power {
    border-radius: 0 64px 64px 0;
    margin-left: 0;
    padding-right: 8px;
}

#clock, #custom-weather {
    padding-left: 4px;
    padding-right: 4px;
}

/* center quick action nerd icons */
#custom-launcher,
#custom-tasks,
#custom-gemini,
#custom-screenshot {
    margin: 0;
    padding: 2px 4px;
    min-width: 16px;
    font-size: 16px;
}

#custom-launcher {
    padding: 2px 3px 2px 5px;
}

#custom-gemini {
    padding: 2px 6px 2px 2px;
}

#custom-screenshot {
    padding: 2px 7px 2px 1px;
}

#temperature.critical {
    color: #f99;
}

#tray {
    padding-left: 8px;
}

#tray menu {
    background: #000;
    border-radius: 16px;
    padding: 8px;
}

#tray menu label {
    background: none;
    padding: 4px;
    padding-left: 8px;
}

#tray > .active {
    color: #0f0;
}

#tray > .needs-attention {
    color: #ff0;
}
