@import url("launcher.custom.css");

/*
https://docs.gtk.org/gtk4/class.Window.html#css-nodes
window.background, window.switcher {
	background: #000;
}

https://docs.gtk.org/gtk4/class.SearchEntry.html#css-nodes
entry.search {
	background: #fff;
}

https://docs.gtk.org/gtk4/class.ScrolledWindow.html#css-nodes
#scroll {
	background: #0f0;
}

https://docs.gtk.org/gtk4/class.FlowBox.html#css-nodes
flowbox, flowbox.switcher {
	background: #0ff;
}

flowboxchild, flowbox.switcher > flowboxchild {
	border-radius: 64px;
}

https://docs.gtk.org/gtk4/class.ListBox.html#css-nodes
list {
	background: #00f;
}

.app, .app.switcher {
	background: #f0f;
}

.app box, .app.switcher box {
	background: #f00;
}

https://docs.gtk.org/gtk4/class.Image.html#css-nodes
.app image, .app.switcher image {
	background: #00f;
}

https://docs.gtk.org/gtk4/class.Label.html#css-nodes
.app label, .app.switcher label {
	background: #0f0;
} */

entry.search {
	margin: 24px;
	margin-bottom: 20px;
}

.app, flowboxchild {
	border-radius: 8px;
	padding: 8px;
}

.app label {
	margin-top: 8px;
}

list, window.switcher {
	background: none;
}

flowbox.switcher {
	background: @theme_bg_color;
	border: 1px solid lighter(@theme_bg_color);
	border-radius: 16px;
	padding: 4px;
}

flowboxchild {
	margin: 4px;
	padding: 0;
}

flowboxchild:hover {
	background: alpha(@theme_unfocused_selected_bg_color, 0.4);
}

row {
	border-radius: 8px;
	padding: 0px;
}

.listitem {
	border-radius: 8px;
	padding: 8px;
}
